{% extends 'base.html' %} {% load static %} {% block head %}

{% comment %} <link rel="stylesheet" href=""> {% endcomment %}

{% endblock %} {% block content %}

<section class="page-header">
    <h1>Vehicle List</h1>
    {% comment %} images {% endcomment %}
</section>

<section>
    <ul>
        {% for vehicle in vehicles %}
        <li>
            <a href="{% url 'vehicle-detail' vehicle.id %}">
                {{ vehicle.modelyear }} {{ vehicle.make }} {{ vehicle.model }}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}
